<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dobby.dobbyqs.mybatis.mapper.PaperQuestionLinkMapper">
    <resultMap id="BaseResultMap" type="dobby.dobbyqs.mybatis.pojo.PaperQuestionLink">
        <!--@mbg.generated-->
        <!--@Table paper_question_link-->
        <id column="paper_id" jdbcType="INTEGER" property="paperId"/>
        <id column="question_id" jdbcType="INTEGER" property="questionId"/>
        <result column="score" jdbcType="INTEGER" property="score"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        paper_id, question_id, score
    </sql>
    <select id="selectByPrimaryKey" parameterType="map" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from dobbyqs.paper_question_link
        where paper_id = #{paperId,jdbcType=INTEGER}
        and question_id = #{questionId,jdbcType=INTEGER}
    </select>
    <select id="selectQuestionIdsByPaperId" parameterType="integer" resultType="java.lang.Integer">
        select question_id from dobbyqs.paper_question_link where paper_id = #{paperId,jdbcType=INTEGER}
    </select>
    <select id="selectPaperIdsByQuestionId" resultType="java.lang.Integer">
        select paper_id from dobbyqs.paper_question_link where question_id = #{questionId,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="map">
        <!--@mbg.generated-->
        delete from dobbyqs.paper_question_link
        where paper_id = #{paperId,jdbcType=INTEGER}
        and question_id = #{questionId,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="dobby.dobbyqs.mybatis.pojo.PaperQuestionLink">
        <!--@mbg.generated-->
        insert into dobbyqs.paper_question_link (paper_id, question_id, score
        )
        values (#{paperId,jdbcType=INTEGER}, #{questionId,jdbcType=INTEGER}, #{score,jdbcType=INTEGER}
        )
    </insert>
    <insert id="insertSelective" parameterType="dobby.dobbyqs.mybatis.pojo.PaperQuestionLink">
        <!--@mbg.generated-->
        insert into dobbyqs.paper_question_link
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="paperId != null">
                paper_id,
            </if>
            <if test="questionId != null">
                question_id,
            </if>
            <if test="score != null">
                score,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="paperId != null">
                #{paperId,jdbcType=INTEGER},
            </if>
            <if test="questionId != null">
                #{questionId,jdbcType=INTEGER},
            </if>
            <if test="score != null">
                #{score,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="dobby.dobbyqs.mybatis.pojo.PaperQuestionLink">
        <!--@mbg.generated-->
        update dobbyqs.paper_question_link
        <set>
            <if test="score != null">
                score = #{score,jdbcType=INTEGER},
            </if>
        </set>
        where paper_id = #{paperId,jdbcType=INTEGER}
        and question_id = #{questionId,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="dobby.dobbyqs.mybatis.pojo.PaperQuestionLink">
        <!--@mbg.generated-->
        update dobbyqs.paper_question_link
        set score = #{score,jdbcType=INTEGER}
        where paper_id = #{paperId,jdbcType=INTEGER}
        and question_id = #{questionId,jdbcType=INTEGER}
    </update>
</mapper>