<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>leTex</title>
    <script src="vue/vue.js"></script>
    <script src="vue/jquery-3.5.1.js"></script>
    <script id="MathJax-script" async
            src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
    </script>
</head>
<body>
    <div class="main" id="main" style="width: 800px;margin: 0px auto;" >
        <p>\((a+b)^2=a^2+2ab+b^2\)</p>
        <div id="math"><p class="leTex"></p>math:\({{math}}\)</div>
        <div><label>输入leTex表达式：</label><input type="text" v-model="laTex"><button @click="dododo">tototo</button></div>
    </div>
</body>
<script>
var vvv = new Vue({
    el:"#main",
    data:{
        laTex:"",
        math:""
    },
    methods:{
        dododo: function () {
            this.math = this.laTex;
            jQuery("#math > mjx-container").remove();
            MathJax.typesetPromise().then(function () {
                // modify the DOM here
                MathJax.typesetPromise();
            }).catch(function (err) {
                    console.log(err.message)
                }
            )
        }
    }
})
</script>
</html>