<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Manage</title>
</head>
<body>
<div class="main">
    <div class="row">
        <span class="left">
            <span>新建专业</span>
            <input type="text" hidden>
            <input type="text" width="10em">
            <input type="button" value="上传">
        </span>
        <span class="right">
            <span>新建科目</span>
            <input type="text" hidden>
            <input type="text" width="10em">
            <input type="button" value="上传">
        </span>
        <span class="clear"></span>
    </div>

    <div class="row">
        <div>
            <input type="text" id="question">
            <input type="text" id="type">
        </div>
        <ol type="A">
            <li><input type="text" id="A"></li>
            <li><input type="text" id="B"></li>
            <li><input type="text" id="C"></li>
            <li><input type="text" id="D"></li>
            <li><input type="text" id="E"></li>
        </ol>
        <div>
            <input type="text" id="answer">
            <input type="text" id="explain">
        </div>
    </div>
</div>
</body>
</html>